/* no-bases-header: Hide the Bases toolbar */
.no-bases-header .bases-header {
    display: none;
}

/* no-bases-thead: Hide the table column headings */
.no-bases-thead .bases-thead {
    display: none;
}

/* no-bases-group-property: Hide the group-by property name */
.no-bases-group-property .bases-group-property {
    display: none;
}

/* From: https://www.reddit.com/r/ObsidianMD/comments/1spok0c/alternating_row_colors_in_bases/ */
.bases-tbody {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0 var(--bases-table-row-height),
    color-mix(in oklch, var(--background-primary) 95%, var(--text-normal)) 0 calc(var(--bases-table-row-height) * 2)
  );
}
