/* ==================================================================== */
/* BUTTON PLUGIN                                                        */
/* ==================================================================== */

button.button-as-link {
    color: var(--text-accent);
    font-size: var(--editor-font-size);
    font-family: var(--default-font);
    background-color: var(--background-primary);
    margin: 0em;
    padding: 0em;
}
