/* ==================================================================== */
/* BUTTON PLUGIN                                                        */
/* ==================================================================== */

button.button-as-link {
    display: inline-block;
    color: var(--text-accent);
    font-size: var(--editor-font-size);
    font-family: var(--default-font);
    background-color: #ffffff00;
    margin: 0em;
    padding: 0em;
    box-shadow: none;
    text-decoration: underline;
    cursor: pointer;
}
