.callout {
    border-radius: 10px;
}

.callout-title {
    border-radius: 10px 10px 0px 0px;
}

.callout p {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.callout[data-callout="craig"] {
    --callout-color: 220, 200, 0;
    --callout-icon: lucide-dice-6;
    margin-left: 100px;
}

.callout[data-callout="glenn"] {
    --callout-color: 0, 0, 200;
    --callout-icon: lucide-gamepad-2;
    margin-right: 100px;
}

.callout[data-callout="other"] {
    --callout-color: 200, 200, 200;
    --callout-icon: lucide-user;
    margin-right: 100px;
}

