/* Give callouts rounded edges. */
.callout {
    border-radius: 10px;

    /* Draw border around callout if desired. */
    /* border-width: 2px; */ 

}

/* [!info|sidebar]
 * Moves the callout to the right-hand side.
 */
.callout:is([data-callout-metadata*="sidebar"]) {
    /* Hat tip: https://forum.obsidian.md/t/callout-columns/47279/15 */
    max-width: 40%;
    min-width: 25%;
    float: right;
    margin: 12px;
    padding: 12px;
}

/* [!info|noicon]
 * Don't show icon.
 */
.callout:is([data-callout-metadata*="noicon"]) .callout-icon {
	display: none;
}

/* [!info|notitle]
 * Don't show title (also hides icon).
 */
.callout:is([data-callout-metadata*="notitle"]) .callout-title {
	display: none;
}

/* [!info|nobackground]
 * Make background color invisible and remove margin and padding.  Can be
 * combined with notitle, etc. to hide other elements.
 */
.callout:is([data-callout-metadata*="nobackground"]) {
	background-color: #aaaaaa00;
    margin: 0px;
    padding: 0px;
}


/* [!info|portrait-right]
 * This combines sidebar|notitle|nobackground, and tightens up the spacing
 * a little.
 */
.callout:is([data-callout-metadata*="portrait-right"]) {
    max-width: 40%;
    min-width: 25%;
    float: right;
	background-color: #aaaaaa00;
    margin: 5px;
    padding: 5px 5px 0px 5px;
    border: thin solid black;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.callout:is([data-callout-metadata*="portrait-right"]) .callout-title {
	display: none;
}

.callout:is([data-callout-metadata*="portrait-right"]) p {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.callout:is([data-callout-metadata*="portrait-right-30"]) {
    max-width: 30%;
}

.callout:is([data-callout-metadata*="portrait-right-25"]) {
    max-width: 20%;
}

.callout:is([data-callout-metadata*="portrait-right-20"]) {
    max-width: 20%;
}
