.callout {
    border-radius: 10px;
    border-width: 2px;
}

.callout-title {
    border-radius: 10px 10px 0px 0px;
}

.callout p {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

/* .callout[data-callout="sidebar"] { */
/*     --callout-color: 189, 142, 55; */
/*     --callout-icon: lucide-info; */
/*     max-width: 40%; */
/*     float: right; */
/*     margin: 12px; */
/* } */

.callout:is([data-callout-metadata^="sidebar"]) {
    /* Hat tip: https://forum.obsidian.md/t/callout-columns/47279/15 */
    max-width: 40%;
    float: right;
    margin: 12px;
}
