

/* RED: Challenges, enemies, monsters */

.callout[data-callout="enemy"] {
    --callout-color: 200, 0, 0;
    --callout-icon: lucide-skull;
    border: thin solid black;
}

.callout[data-callout="monster"] {
    --callout-color: 200, 0, 0;
    --callout-icon: lucide-skull;
    border: thin solid black;
}

.callout[data-callout="challenge"] {
    --callout-color: 200, 0, 0;
    --callout-icon: lucide-skull;
    border: thin solid black;
}

/* ORANGE: Secrets */

.callout[data-callout="secret"] {
    --callout-color: 255, 125, 90;
    --callout-icon: lucide-lock;
    border: thin solid black;
}

/* YELLOW: Outlines, quests */

.callout[data-callout="outline"] {
    --callout-color: 220, 200, 0;
    --callout-icon: lucide-list-checks;
    border: thin solid black;
}

.callout[data-callout="quest"] {
    --callout-color: 220, 200, 0;
    --callout-icon: lucide-flag;
    border: thin solid black;
}

/* GREEN: People */


.callout[data-callout="person"] {
    --callout-color: 0, 200, 0;
    --callout-icon: lucide-user;
    border: thin solid black;
}

/* BLUE: Places */

.callout[data-callout="place"] {
    --callout-color: 0, 50, 200;
    --callout-icon: lucide-home;
    border: thin solid black;
}

/* PURPLE: Rewards */

.callout[data-callout="reward"] {
    --callout-color: 200, 0, 200;
    --callout-icon: lucide-coins;
    border: thin solid black;
}

