/* Make edge labels the same size as box text */
.canvas-path-label {
    font-size: var(--font-text-size);
}

.theme-light .canvas-background {
    background: #EDEDED;

    /* To derive from accent color */
    /* background-color: hsl( */
    /*     var(--accent-h) */
    /*     var(--accent-s) */
    /*     calc(var(--accent-l) + 70%) */
    /* ); */
}

.theme-light .canvas-background circle {
    fill: #aaa;
}
