/* ==================================================================== */
/* COLORS                                                               */
/* ==================================================================== */
.theme-light {

    /* Official theme colors */
    --background-secondary: #f5f3f2;
    --background-secondary-alt: #e8e5e3;
    --text-accent: #884411;
    --text-accent-hover: #aa6633;
    --interactive-accent: #aa6633;
    --interactive-accent-hover: #cc8855;

    /* My additional colors */ 
    --text-very-faint: #dddddd;
    --mermaid-shape-fill: #fffaf0;
    --text-codeblock-editor: #c74e25;
    --text-codeblock-preview: #c74e25;
}
