/* ==================================================================== */
/* COLORS                                                               */
/* ==================================================================== */
.theme-light {

    /* Official theme colors */
    --background-primary: white;
    --background-primary-alt: #f5f3f8;
    --background-secondary: #f3f0f4;
    --background-secondary-alt: #e5e0e8;
    --text-accent: #4411aa;
    --text-accent-hover: #6633cc;
    --interactive-normal: var(--backround-secondary);
    --interactive-accent: #6633cc;
    --interactive-accent-hover: #8855cc;
}
