/* ==================================================================== */
/* COLORS                                                               */
/* ==================================================================== */
.theme-light {

    /* Official theme colors */
    --background-primary: white;
    --background-primary-alt: #f8f6f5;
    --background-secondary: #f5f1ee;
    --background-secondary-alt: #e8e3e1;
    --text-accent: #884411;
    --text-accent-hover: #aa6633;
    --interactive-normal: var(--backround-secondary);
    --interactive-accent: #aa6633;
    --interactive-accent-hover: #cc8855;
}

/* ==================================================================== */
/* CHECKBOXES                                                           */
/* ==================================================================== */

.markdown-preview-view .task-list-item-checkbox {
    filter: hue-rotate(178deg);
}

.cm-content .task-list-item-checkbox {
    filter: hue-rotate(178deg);
}

