.embed-show-as-h3 .markdown-embed .markdown-embed-title {
    display: block;
    border-bottom: 1px solid var(--text-faint);
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-size: 14pt;
    line-height: 20pt;
    font-weight: bold;
}
