/* 
 * OPTIONAL no-embed-decorations: Hide decoration and borders from embeds 
 */

/* Preview view */

.markdown-preview-view.no-embed-decorations .markdown-embed {
    background-color: var(--theme-page-background);
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
.markdown-preview-view.no-embed-decorations .markdown-embed-link {
    /* Make embed link invisible. */
    color: #00000000;
}
.markdown-preview-view.no-embed-decorations .markdown-embed-content > .markdown-preview-view {
    padding: 0;
    margin: 0;
}

.markdown-preview-view.no-embed-decorations .markdown-embed .dataview.list-view-ul {
    margin: 0;
}

.markdown-preview-view.no-embed-decorations .markdown-embed .inline-title {
    display: none;
}

.markdown-preview-view.no-embed-decorations .markdown-embed .embed-title {
    display: none;
}

/* "Live Preview" view */

.markdown-source-view.no-embed-decorations .markdown-embed {
    background-color: var(--theme-page-background);
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.markdown-source-view.no-embed-decorations .markdown-embed-link {
    /* Make embed link invisible. */
    color: #00000000;
}

.markdown-source-view.no-embed-decorations .markdown-embed .embed-title {
    display: none;
}


/* 
 * OPTIONAL no-embed-indent: Don't indent embeds
 */
.markdown-preview-view.no-embed-indent .markdown-embed {
    background-color: var(--theme-page-background);
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}


/* 
 * OPTIONAL no-embed-titles: Don't display embed titles
 */
.markdown-preview-view.no-embed-titles .markdown-embed .embed-title {
    display: none;
}

/* 
 * OPTIONAL no-embed-headings: Hide headings from embedded content
 */
.markdown-preview-view.no-embed-headings .markdown-embed h1 {
    display: none;
}
.markdown-preview-view.no-embed-headings .markdown-embed h2 {
    display: none;
}
.markdown-preview-view.no-embed-headings .markdown-embed h3 {
    display: none;
}
.markdown-preview-view.no-embed-headings .markdown-embed h4 {
    display: none;
}

/* 
 * OPTIONAL embed-show-as-h1: Show embed titles as h1s
 */
.embed-show-as-h1 .markdown-embed .markdown-embed-title {
    display: block;
    border-bottom: 2px solid var(--text-normal);
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-size: 20pt;
    line-height: 22pt;
    font-weight: bold;
}

/* 
 * OPTIONAL embed-show-as-h2: Show embed titles as h2s
 */
.embed-show-as-h2 .markdown-embed .markdown-embed-title {
    display: block;
    border-bottom: 1px solid var(--text-normal);
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-size: 16pt;
    line-height: 20pt;
    font-weight: bold;
}

/* 
 * OPTIONAL embed-show-as-h3: Show embed titles as h3s
 */
.embed-show-as-h3 .markdown-embed .markdown-embed-title {
    display: block;
    border-bottom: 1px solid var(--text-faint);
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-size: 14pt;
    line-height: 20pt;
    font-weight: bold;
}

