/* To make embed decorations on the current page invisible, use:
   cssclass: no-decorate-embeds
   in your frontmatter. */

.markdown-preview-view.no-decorate-embeds .markdown-embed {
    background-color: var(--theme-page-background);
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 5px;
}
.markdown-preview-view.no-decorate-embeds .markdown-embed-content > .markdown-preview-view {
    padding: 0;
    margin: 0;
}
