/* Remove scroll bar from transclusions */
.markdown-preview-view .markdown-embed-content {
    max-height: unset;
}
.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
    max-height: unset;
    background-color: var(--theme-transclude-background);
}

/* Make transclusions pretty */
.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    padding: 5px;
    margin: 0px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--background-modifier-border);
    background-color: var(--theme-transclude-background);
}

/* Remove extra vertical size from transclusions */
.markdown-preview-view .markdown-preview-sizer {
    /* I don't like using !important here, but a recent version of Obsidian
     * seems to have added a hard padding to the bottom of embedded
     * sections. */
    min-height: 0px !important;
    padding-bottom: 5px !important;
}

/* Remove scroll bar from search results */
.markdown-preview-view .internal-query.is-embed .search-results-children {
    max-height: unset;
}

/* 
 * OPTIONAL no-embed-decorations: Hide decoration and borders from embeds 
 */
.markdown-preview-view.no-embed-decorations .markdown-embed {
    background-color: var(--theme-page-background);
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 5px;
}
.markdown-preview-view.no-embed-decorations .markdown-embed-content > .markdown-preview-view {
    padding: 0;
    margin: 0;
}

/* 
 * OPTIONAL no-embed-titles: Hide decoration and borders from embeds 
 */
.markdown-preview-view.no-embed-titles .markdown-embed .markdown-embed-title {
    display: none;
}
