/* ==================================================================== */
/* HEADERS                                                              */
/* ==================================================================== */

/* Center Inline Title */

.inline-title {
    text-align: center;
}
@media print {
  h1:not([data-heading]), h1[data-heading=""] {
      text-align: center !important;
      border-bottom: none !important;
  }
}

/* Edit mode (cm6) */


/* .markdown-source-view .HyperMD-header { */
/*     --h1-size: 22pt; */
/*     --h2-size: 20pt; */
/*     --h3-size: 18pt; */
/*     --h4-size: 16pt; */
/*     --h5-size: 14pt; */
/*     --h6-size: 12pt; */
/* } */


.HyperMD-header.HyperMD-header-1 {
    padding-bottom: 0em;
    border-bottom: 2px solid var(--text-normal);
    text-decoration: none;
}

.HyperMD-header.HyperMD-header-2 {
    padding-bottom: 0em;
    border-bottom: 2px solid var(--text-faint);
}

.HyperMD-header.HyperMD-header-3 {
    padding-bottom: 0em;
    border-bottom: 1px solid var(--text-faint);
}


/* Preview mode */

/* .markdown-reading-view { */
/*     --h1-size: 22pt; */
/*     --h2-size: 20pt; */
/*     --h3-size: 18pt; */
/*     --h4-size: 16pt; */
/*     --h5-size: 13pt; */
/*     --h6-size: 12pt; */
/* } */

.markdown-preview-view h1 {
    border-bottom: 2px solid var(--text-normal);
    overflow: hidden;
}

.markdown-preview-view h1 .internal-link {
    text-decoration: none;
}

.markdown-preview-view h2 {
    border-bottom: 2px solid var(--text-faint);
    font-weight: bold;
    overflow: hidden;
}

.markdown-preview-view h2 .internal-link {
    text-decoration: none;
}

.markdown-preview-view h3 {
    border-bottom: 1px solid var(--text-faint);
    font-weight: bold;
    overflow: hidden;
}

.markdown-preview-view h3 .internal-link {
    text-decoration: none;
}



/* ================================================== */
/* .reset-float-h : Optionally reset float on headers */
/* ================================================== */

.reset-float-h1 h1 {
    clear: both;
}

.reset-float-h2 h2 {
    clear: both;
}

.reset-float-h3 h3 {
    clear: both;
}


/* ==================================== */
/* no-h-underline: No header underlines */
/* ==================================== */

.markdown-preview-view.no-h-underline h1 {
    border-bottom: none;
}

.markdown-preview-view.no-h-underline h2 {
    border-bottom: none;
}

.markdown-preview-view.no-h-underline h3 {
    border-bottom: none;
}

.no-h-underline .HyperMD-header.HyperMD-header-1 {
    border-bottom: none;
}

.no-h-underline .HyperMD-header.HyperMD-header-2 {
    border-bottom: none;
}

.no-h-underline .HyperMD-header.HyperMD-header-3 {
    border-bottom: none;
}

/* ================================= */
/* no-h1-underline: No h1 underlines */
/* ================================= */

.markdown-preview-view.no-h1-underline h1 {
    border-bottom: none;
}

.no-h1-underline .HyperMD-header.HyperMD-header-1 {
    border-bottom: none;
}

/* ================================= */
/* no-h2-underline: No h2 underlines */
/* ================================= */

.markdown-preview-view.no-h2-underline h2 {
    border-bottom: none;
}

.no-h2-underline .HyperMD-header.HyperMD-header-2 {
    border-bottom: none;
}

/* ================================= */
/* no-h3-underline: No h3 underlines */
/* ================================= */

.markdown-preview-view.no-h3-underline h3 {
    border-bottom: none;
}

.no-h3-underline .HyperMD-header.HyperMD-header-3 {
    border-bottom: none;
}
