/* ==================================================================== */
/* HEADERS                                                              */
/* ==================================================================== */

/* Center Inline Title */

.inline-title {
    text-align: center;
}
@media print {
  h1:not([data-heading]), h1[data-heading=""] {
      text-align: center !important;
      border-bottom: none !important;
  }
}


/* Edit mode (cm6) */

.HyperMD-header.HyperMD-header-1 {
    padding-bottom: 0em;
    border-bottom: 2px solid var(--text-normal);
    text-decoration: none;
}

span.cm-header-1 {
    font-size: 20pt;
}

.HyperMD-header.HyperMD-header-2 {
    padding-bottom: 0em;
    border-bottom: 1px solid var(--text-normal);
}

span.cm-header-2 {
    font-size: 18pt;
}

.HyperMD-header.HyperMD-header-3 {
    padding-bottom: 0em;
    border-bottom: 1px solid var(--text-faint);
}

span.cm-header-3 {
    font-size: 16pt;
}

span.cm-header-4 {
    font-size: 14pt;
}

/* Preview mode */

.markdown-preview-view h1 {
    border-bottom: 2px solid var(--text-normal);
    font-size: 20pt;
    line-height: 22pt;
    overflow: hidden;
}

.markdown-preview-view h1 .internal-link {
    text-decoration: none;
}

.markdown-preview-view h2 {
    border-bottom: 1px solid var(--text-normal);
    font-size: 16pt;
    line-height: 20pt;
    font-weight: bold;
    overflow: hidden;
}

.markdown-preview-view h2 .internal-link {
    text-decoration: none;
}

.markdown-preview-view h3 {
    border-bottom: 1px solid var(--text-faint);
    font-size: 14pt;
    line-height: 20pt;
    font-weight: bold;
    overflow: hidden;
}

.markdown-preview-view h3 .internal-link {
    text-decoration: none;
}

.markdown-preview-view h4 {
    font-size: 12pt;
    line-height: 16pt;
}

h1,h2,h3 {
    /* Reset floating elements on new headers. */
    clear: both;
}


/* ==================================== */
/* no-h-underline: No header underlines */
/* ==================================== */

.markdown-preview-view.no-h-underline h1 {
    border-bottom: none;
}

.markdown-preview-view.no-h-underline h2 {
    border-bottom: none;
}

.markdown-preview-view.no-h-underline h3 {
    border-bottom: none;
}

/* ================================= */
/* no-h2-underline: No h2 underlines */
/* ================================= */

.markdown-preview-view.no-h2-underline h2 {
    border-bottom: none;
}

/* ================================= */
/* no-h3-underline: No h3 underlines */
/* ================================= */

.markdown-preview-view.no-h3-underline h3 {
    border-bottom: none;
}
