span.img-max-width-25pct {
   display: block;
   max-width: 25%;
}

span.img-float-right {
    float: right;
}

span.img-simple-border {
    margin: 3px;
    padding: 3px;
    border: thin solid black;
}

span.img-portrait-right {
    max-width: 25%;
    float: right;
    margin: 3px;
    padding: 3px;
    border: thin solid black;
}

span.img-portrait-right-small {
    max-width: 20%;
    float: right;
    margin: 1px;
    padding: 1px;
}

span.img-portrait-right-shadow {
    max-width: 25%;
    float: right;
    margin: 3px;
    padding: 3px;
    border: thin solid black;
    box-shadow: 5px 10px 10px #888888;
}
