span.img-max-width-25pct {
   display: block;
   max-width: 25%;
}

span.img-float-right {
    float: right;
}

span.img-simple-border {
    margin: 3px;
    padding: 3px;
    border: thin solid black;
}

span.img-icon-right {
    float: right;
    margin: 1em;
    border: thin solid black;
}

.img-icon-right img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

span.img-portrait-right {
    margin: 3px;
    padding: 3px;
    float: right;
    max-width: 25%;
    background-color: white;
    border: thin solid black;
}

span.img-portrait-right-small {
    float: right;
    margin: 1px;
    padding: 1px;
    max-width: 20%;
    background-color: white;
}

span.img-portrait-right-shadow {
    margin: 3px;
    padding: 0px;
    line-height: 0px;
    float: right;
    max-width: 25%;
    background-color: white;
    border: thin solid black;
    box-shadow: 5px 5px 5px #888888;
}
