span.img-max-width-25pct {
   display: block;
   max-width: 25%;
}

span.img-float-right {
    display: block;
    float: right;
}

span.img-simple-border {
    display: block;
    margin: 3px;
    padding: 3px;
    border: thin solid black;
}

span.img-portrait-right {
    display: block;
    max-width: 25%;
    float: right;
    margin: 3px;
    padding: 3px;
    border: thin solid black;
}

span.img-portrait-right-shadow {
    display: block;
    max-width: 25%;
    float: right;
    margin: 3px;
    padding: 3px;
    border: thin solid black;
    box-shadow: 5px 10px 10px #888888;
}
