.kanban-plugin__item-tags .kanban-plugin__item-tag[href="#important"] {
    background-color: #f76;
    color: black;
}

.kanban-plugin__item-tags .kanban-plugin__item-tag[href="#urgent"] {
    background-color: #f93;
    color: black;
}

.kanban-plugin__item-tags .kanban-plugin__item-tag[href="#helpdesk"] {
    background-color: #fe6;
    color: black;
}
