.kanban-plugin__item-tags .kanban-plugin__item-tag[href="#important"] {
    background-color: #d22;
    color: white;
}

.kanban-plugin__item-tags .kanban-plugin__item-tag[href="#urgent"] {
    background-color: #f80;
    color: white;
}

.kanban-plugin__item-tags .kanban-plugin__item-tag[href="#helpdesk"] {
    background-color: #aa3;
    color: white;
}
