.no-external-link-icon .markdown-rendered a.external-link {
    background-image: none;
    padding-right: inherit;
}

.markdown-reading-view .no-link-underline .internal-link {
    text-decoration: none;
}

.metadata-property-value .no-link-underline .internal-link {
    text-decoration: none;
}
