/* no-external-link-icon: Hide the arrow icon after external links */
.no-external-link-icon .external-link {
    background-image: none;
    padding-right: inherit;
}

/* no-link-underline: Don't underline internal links */
.markdown-reading-view .no-link-underline .internal-link {
    text-decoration: none;
}

.no-link-underline .metadata-property-value .internal-link {
    text-decoration: none;
}
