/*
 * Optionally stripe ul lists
 */

.ul-striped ul li:nth-child(odd) {
    background-color: var(--background-primary);
}
.ul-striped ul li:nth-child(even) {
    background-color: var(--background-secondary);
}
.ul-striped-dark ul li:nth-child(odd) {
    background-color: var(--background-primary);
}
.ul-striped-dark ul li:nth-child(even) {
    background-color: var(--background-modifier-border);
}

/* ul-hide-bullets: Don't show list bullets */
.markdown-preview-view.ul-hide-bullets ul {
    list-style-type: none;
}
.markdown-preview-view.ul-hide-bullets .markdown-rendered.show-indentation-guide li > ul::before {
    /* Hide vertical lines too */
    display: none;
}
.markdown-preview-view.ul-hide-bullets span.list-bullet {
    display: none;
}

/* ul-narrow: Make lists narrower */
.markdown-preview-view.ul-narrow li {
    margin-left: 18px;
}

/* ul-flatten: hide all ul decorations and make it look like a flat list */
.markdown-preview-view.ul-flatten ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.markdown-preview-view.ul-flatten li {
    margin: 0px;
    padding: 0px;
}

/* no-ul-top-margin: Remove top margin from uls, making them closer to
 * preceding paragraphs/headings */
.markdown-preview-view.no-ul-top-margin ul {
    margin-top: 0px;
}

/* 
 * Experimental 
 */

.list-float-images li img {
    float: left;
    margin-right: 6px;
}

.list-float-images li {
    clear: both;
}

