/*
 * no-inline-title: Don't show the file name at the top of the page.
 */
.no-inline-title .inline-title {
    display: none;
}

/*
 * no-p-block-margin: Remove the extra block margin around p tags.
 */
.markdown-rendered.no-p-block-margin p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/*
 * .no-h-extra-margin: Remove the extra upper margin above H tags.
 */
.markdown-rendered.no-h-extra-margin h1 {
    margin-top: 0px !important;
}
.markdown-rendered.no-h-extra-margin h2 {
    margin-top: 0px !important;
}
.markdown-rendered.no-h-extra-margin h3 {
    margin-top: 0px !important;
}
.markdown-rendered.no-h-extra-margin h4 {
    margin-top: 0px !important;
}
.markdown-rendered.no-h-extra-margin h5 {
    margin-top: 0px !important;
}
.markdown-rendered.no-h-extra-margin h6 {
    margin-top: 0px !important;
}

/*
 * GRAVEYARD
 */

/*
 * no-readable-line-length: Override system line length setting for this
 * page.  Useful for large Mermaid diagrams, etc.
 *
 * As of 2025-04-26, this doesn't seem to work anymore.  :(
 */
/* .markdown-preview-view.is-readable-line-length.no-readable-line-length .markdown-preview-sizer { */
/*     max-width: none; */
/* } */

/* Don't wrap -- allow text to go off the page.  Mostly useful for outlines. */
.no-wrap {
    white-space: nowrap;
}

/* Create responsive columns for the page */
.responsive-columns {
  column-gap: 1rem; /* Space between columns */
}

@media (min-width: 2048px) {
  /* Wide screens */
  .responsive-columns {
    column-count: 4;
  }
}

@media (min-width: 1400px) and (max-width: 2047px) {
  /* Wide screens */
  .responsive-columns {
    column-count: 3;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  /* Medium screens */
  .responsive-columns {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  /* Small or mobile screens */
  .responsive-columns {
    column-count: inherit;
  }
}
