.markdown-preview-view.ul-hide-bullets ul {
    list-style-type: none;
}

/* ul-narrow: Make lists narrower, hide bullets */
.markdown-preview-view.ul-narrow ul {
    padding-left: 14px;
}

/* ul-flatten: hide all ul decorations and make it look like a flat list */
.markdown-preview-view.ul-flatten ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

