@media print {

    /* Don't display page titles on embeds. */
    /* .markdown-embed .markdown-embed-title { */
    /*     display: none; */
    /* } */

    /* Don't display decorations on embeds. */
    .markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
        border: none;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
    }

}
