@media print {

    .print-two-columns {
        column-count: 2;
        column-gap: 2em;
        column-rule: thin solid black;
    }

    .print-three-columns {
        column-count: 3;
    }

    .print-four-columns {
        column-count: 4;
    }

}

