@media print {

    /* print-h1-page-break: Start each h1 on a new page */
    .print-h1-page-break h1 {
        break-before: page;
    }

    /* print-two-columns, print-three-columns, print-four-columns */
    .print-two-columns {
        column-count: 2;
        column-gap: 2em;
        column-rule: thin solid black;
    }

    .print-three-columns {
        column-count: 3;
        column-gap: 1em;
        column-rule: thin solid black;
    }

    .print-four-columns {
        column-count: 4;
        column-gap: 1en;
        column-rule: thin solid black;
    }

}

