/*
 * ========================================================
 * READER MODE
 * ========================================================
 */

/* Center tables on the page by default */
.markdown-rendered table {
    margin-left: auto;
    margin-right: auto;
}

/* Don't center tables on the page */
.markdown-rendered.no-table-center table {
    margin-left: inherit;
    margin-right: inherit;
}

/* Color odd and even rows */
.markdown-rendered th {
      background-color: var(--background-secondary-alt);
}
.markdown-rendered tr:nth-child(odd) {
      background-color: var(--background-primary);
}
.markdown-rendered tr:nth-child(even) {
      /* background-color: var(--background-secondary);  */
      background-color: var(--color-base-25);
}

/* Make cell borders stand out better */
body {
    --table-border-color: var(--color-base-40);
}


/*
 * ========================================================
 * Highlight table rows using accent color
 * ========================================================
 */

.theme-light {
    --color-accent-tr-hover: hsl(
        calc(var(--accent-h) - 3), 
        calc(var(--accent-s) * 1.02), 
        calc(var(--accent-l) * 2));
}

.theme-dark {
    --color-accent-tr-hover: hsl(
        calc(var(--accent-h) - 3), 
        calc(var(--accent-s) * 1.02), 
        calc(var(--accent-l) * 0.40));
}

/* Default: Highlight rows on hover.
 * no-table-hover: Don't highlight rows on hover. */
.markdown-rendered:not(.no-table-hover, .table-invisible) tbody tr:hover {
      background-color: var(--color-accent-tr-hover);
}

/*
 * ========================================================
 * OPTIONAL: INVISIBLE TABLES
 * ========================================================
 */

/* table-invisible: Hide borders, header shading, and row stripes. */

.markdown-rendered.table-invisible :is(th, td) {
    border: none;
}
.markdown-rendered.table-invisible :is(th, tr:nth-child(odd), tr:nth-child(even)) {
      background-color: var(--background-primary);
}


/*
 * ========================================================
 * Experimental
 * ========================================================
 */

/* table-small-text: Use smaller text in table cells. */
.table-small-text td {
    font-size: small;
}
