a.tag {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
}

a.tag[href="#ready"] {
    background-color: #393;
    color: white;
}

a.tag[href="#working"] {
    background-color: #ee0;
    color: black;
}

a.tag[href="#done"] {
    background-color: #33a;
    color: white;
}
