/* ==================================================================== */
/* EDITOR                                                               */
/* ==================================================================== */

/* Monospace font */
.markdown-source-view {
    font-family: DejaVu Sans Mono;
    font-size: 90%;
}

/* Highlight active line */
.CodeMirror-activeline-background {
    background-color: var(--background-primary-alt);
}

/* Don't smallify inline code blocks */
.cm-s-obsidian span.cm-inline-code {
    font-size: unset;
}

/* Very faint line numbers */
.cm-s-obsidian div.CodeMirror-linenumber {
    color: var(--text-faint);
    filter: brightness(140%);
}

/* ==================================================================== */
/* LINKS                                                                */
/* ==================================================================== */
.markdown-preview-view .internal-link {
    text-decoration: none;
}
.markdown-preview-view .internal-link:hover {
    text-decoration: underline;
}

.markdown-preview-view .task-list-item.is-checked .external-link {
    color: var(--text-faint);
}

.markdown-preview-view .task-list-item.is-checked .internal-link {
    color: var(--text-faint);
    text-decoration: underline;
}

/* Tag Links */
.markdown-preview-view .tag {
    text-decoration: none;
}
.markdown-preview-view .tag:hover {
    text-decoration: underline;
}

/* H1 Links */
.markdown-preview-view h1 .internal-link {
    color: var(--text-accent);
    text-decoration: none;
}
.markdown-preview-view h1 .internal-link:hover {
    text-decoration: underline;
}

/* H2 Links */
.markdown-preview-view h2 .internal-link {
    color: var(--text-accent);
    text-decoration: none;
}
.markdown-preview-view h2 .internal-link:hover {
    text-decoration: underline;
}

/* ==================================================================== */
/* CODE BLOCKS                                                          */
/* ==================================================================== */
.cm-s-obsidian pre.HyperMD-codeblock {
    font-size: unset;
    color: var(--text-normal);
}
.markdown-preview-view code {
    color: var(--text-normal);
}

/* Undo stock light theme overriding code block background */
.theme-light pre[class*="language-"] {
  background: var(--background-primary-alt);
}

/* ==================================================================== */
/* QUERIES                                                              */
/* ==================================================================== */

/* Don't show query source in display mode */
.markdown-preview-view .internal-query.is-embed .internal-query-header {
    display: none;
}

/* ==================================================================== */
/* OUTLINE                                                              */
/* ==================================================================== */

/* Don't wrap outline items. */
.outline .tree-item-inner {
    white-space: nowrap;
}

/* ==================================================================== */
/* QUERY RESULTS                                                        */
/* ==================================================================== */

.internal-query.is-embed .search-result-file-title {
    font-size: inherit;
}

/* ==================================================================== */
/* HTML FORMATTING                                                      */
/* ==================================================================== */

.pagetitle {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

/* ==================================================================== */
/* MERMAID DIAGRAMS                                                     */
/* ==================================================================== */

/* TODO: I don't like using !important here, but I haven't found a better
 * way to raise these past Mermaid's direct use of IDs in the CSS. */

/* Nodes */
circle.label-container, 
ellipse.label-container, 
path.label-container, 
polygon.label-container,
rect.label-container {
    fill: var(--background-secondary) !important;
    stroke: var(--text-normal) !important;
}

/* Edges */
path.path {
    stroke: var(--text-normal) !important;
}
path.arrowheadPath {
    fill: var(--text-normal) !important;
    stroke: var(--text-normal) !important;
}
span.edgeLabel {
    color: var(--text-normal);
}

/* Groups */
.cluster rect {
    stroke: var(--text-muted) !important;
}

/* ==================================================================== */
/* BUTTON PLUGIN                                                        */
/* ==================================================================== */

button.button-as-link {
    color: var(--text-accent);
    font-size: var(--editor-font-size);
    font-family: var(--default-font);
    margin: 0em;
    padding: 0em;
}

/* ==================================================================== */
/* DATAVIEW PLUGIN                                                      */
/* ==================================================================== */

/* Vertical align dataview table items. */
.dataview.table-view-table td {
    vertical-align: top;
}

/* ==================================================================== */
/* CODE BLOCK COPY BUTTON PLUGIN                                        */
/* ==================================================================== */

/* For use with "Copy button for code blocks" plugin */
button.copy-code-button {
    color: var(--text-faint);
    background-color: var(--background-primary-alt);
}

/* ==================================================================== */
/* SLIDES (reveal.js)                                                   */
/* ==================================================================== */
.reveal {
    font-size: 34px;
}

